
@if (languageDirection === 'ltr') {
    <!--  Start services  -->
    <section class="tc-services-style1 ltr" *transloco="let t">
        <div class="content section-padding section-padding-x pb-0">
            <div class="container">
                <div class="title mb-80 text-center">
                    <p class="color-666 text-uppercase wow"> {{ t( 'our product' ) }} </p>
                </div>
                <div class="services">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="service-card wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon">
                                    <i class="fa-solid fa-loveseat"></i>
                                </div>
                                <h5 class="fsz-24 mb-20">{{ t( 'upholstery' ) }}</h5>
                                <div class="img">
                                    <img src="images/services/ser2.jpg" alt="" class="img-cover">
                                </div>
                                <div class="text color-666 mt-50">
                                    <p class="mb-2"> {{ t( 'upholstery-p1' ) }} </p>
                                    <p class="mb-2">{{ t( 'upholstery-p2' ) }}</p> 
                                    <p class="mb-2">{{ t( 'upholstery-p3' ) }}</p>
                                    <p>{{ t( 'upholstery-p4' ) }}</p>
                                </div>
                                <i class="fa-solid fa-grip-lines"></i><i class="fa-solid fa-grip-lines"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-card mt-150 wow fadeInUp" data-wow-delay="0.6s">
                                <div class="icon">
                                    <i class="fa-solid fa-car-side"></i>
                                </div>
                                <h5 class="fsz-24 mb-20">{{ t( 'automotive' ) }}</h5>
                                <div class="img">
                                    <img src="images/services/ser3.jpg" alt="" class="img-cover">
                                </div>
                                <div class="text color-666 mt-50">
                                    <p class="mb-2">
                                        {{ t( 'automotive-p1' ) }}
                                    </p>
                                    <p class="mb-2">
                                        {{ t( 'automotive-p2' ) }}
                                    </p>
                                    <p>
                                        {{ t( 'automotive-p3' ) }}
                                    </p>
                                </div>
                                <i class="fa-solid fa-grip-lines"></i><i class="fa-solid fa-grip-lines"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-card wow fadeInUp" data-wow-delay="0.8s">
                                <div class="icon">
                                    <i class="fa-solid fa-bags-shopping"></i>
                                </div>
                                <h5 class="fsz-24 mb-20">{{ t( 'bag materials' ) }}</h5>
                                <div class="img">
                                    <img src="images/services/ser4.jpg" alt="" class="img-cover">
                                </div>
                                <div class="text color-666 mt-50">
                                    <p class="mb-2">
                                        {{ t( 'bag-materials-p1' ) }}
                                    </p>
                                    <p class="mb-2">
                                        {{ t( 'bag-materials-p2' ) }}
                                    </p>
                                    <p>
                                        {{ t( 'bag-materials-p3' ) }}
                                    </p>
                                </div>
                                <i class="fa-solid fa-grip-lines"></i><i class="fa-solid fa-grip-lines"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-card mt-150 wow fadeInUp" data-wow-delay="0.8s">
                                <div class="icon">
                                    <i class="fa-solid fa-scarf"></i>
                                </div>
                                <h5 class="fsz-24 mb-20">{{ t( 'accessories' ) }}</h5>
                                <div class="img">
                                    <img src="images/services/ser5.jpg" alt="" class="img-cover">
                                </div>
                                <div class="text color-666 mt-50">
                                    <p class="mb-2">
                                        {{ t( 'accessories-p1' ) }}
                                    </p>
                                    <p class="mb-2">
                                        {{ t( 'accessories-p2' ) }}
                                    </p>
                                    <p class="mb-2">
                                        {{ t( 'accessories-p3' ) }}
                                    </p>
                                    <p>
                                        {{ t( 'accessories-p4' ) }}
                                    </p>
                                </div>
                                <i class="fa-solid fa-grip-lines"></i><i class="fa-solid fa-grip-lines"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ser-img">
            <img src="images/services/ser.jpg" alt="image">
        </div>
    </section>
    <!--  End services  -->
} @else if (languageDirection === 'rtl') {
    <!--  Start services  -->
    <section class="tc-services-style1 rtl" *transloco="let t">
        <div class="content section-padding section-padding-x pb-0">
            <div class="container">
                <div class="title mb-80 text-center">
                    <p class="color-666 text-uppercase wow"> {{ t( 'our product' ) }} </p>
                </div>
                <div class="services">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="service-card wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon">
                                    <i class="fa-solid fa-loveseat"></i>
                                </div>
                                <h5 class="fsz-24 mb-20">{{ t( 'upholstery' ) }}</h5>
                                <div class="img">
                                    <img src="images/services/ser2.jpg" alt="" class="img-cover">
                                </div>
                                <div class="text color-666 mt-50">
                                    <p class="mb-2"> {{ t( 'upholstery-p1' ) }} </p>
                                    <p class="mb-2">{{ t( 'upholstery-p2' ) }}</p> 
                                    <p class="mb-2">{{ t( 'upholstery-p3' ) }}</p>
                                    <p>{{ t( 'upholstery-p4' ) }}</p>
                                </div>
                                <i class="fa-solid fa-grip-lines"></i><i class="fa-solid fa-grip-lines"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-card mt-150 wow fadeInUp" data-wow-delay="0.6s">
                                <div class="icon">
                                    <i class="fa-solid fa-car-side"></i>
                                </div>
                                <h5 class="fsz-24 mb-20">{{ t( 'automotive' ) }}</h5>
                                <div class="img">
                                    <img src="images/services/ser3.jpg" alt="" class="img-cover">
                                </div>
                                <div class="text color-666 mt-50">
                                    <p class="mb-2">
                                        {{ t( 'automotive-p1' ) }}
                                    </p>
                                    <p class="mb-2">
                                        {{ t( 'automotive-p2' ) }}
                                    </p>
                                    <p>
                                        {{ t( 'automotive-p3' ) }}
                                    </p>
                                </div>
                                <i class="fa-solid fa-grip-lines"></i><i class="fa-solid fa-grip-lines"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-card wow fadeInUp" data-wow-delay="0.8s">
                                <div class="icon">
                                    <i class="fa-solid fa-bags-shopping"></i>
                                </div>
                                <h5 class="fsz-24 mb-20">{{ t( 'bag materials' ) }}</h5>
                                <div class="img">
                                    <img src="images/services/ser4.jpg" alt="" class="img-cover">
                                </div>
                                <div class="text color-666 mt-50">
                                    <p class="mb-2">
                                        {{ t( 'bag-materials-p1' ) }}
                                    </p>
                                    <p class="mb-2">
                                        {{ t( 'bag-materials-p2' ) }}
                                    </p>
                                    <p>
                                        {{ t( 'bag-materials-p3' ) }}
                                    </p>
                                </div>
                                <i class="fa-solid fa-grip-lines"></i><i class="fa-solid fa-grip-lines"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-card mt-150 wow fadeInUp" data-wow-delay="0.8s">
                                <div class="icon">
                                    <i class="fa-solid fa-scarf"></i>
                                </div>
                                <h5 class="fsz-24 mb-20">{{ t( 'accessories' ) }}</h5>
                                <div class="img">
                                    <img src="images/services/ser5.jpg" alt="" class="img-cover">
                                </div>
                                <div class="text color-666 mt-50">
                                    <p class="mb-2">
                                        {{ t( 'accessories-p1' ) }}
                                    </p>
                                    <p class="mb-2">
                                        {{ t( 'accessories-p2' ) }}
                                    </p>
                                    <p class="mb-2">
                                        {{ t( 'accessories-p3' ) }}
                                    </p>
                                    <p>
                                        {{ t( 'accessories-p4' ) }}
                                    </p>
                                </div>
                                <i class="fa-solid fa-grip-lines"></i><i class="fa-solid fa-grip-lines"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ser-img">
            <img src="images/services/ser.jpg" alt="image">
        </div>
    </section>
    <!--  End services  -->
}
