<!--  Start team  -->
<section class="tc-team-style1 tc-awards-style1">
    <div class="container">
        <div class="mb-80">
            <h2 class="fsz-45 text-white"> Meet our top-notch experts </h2>
        </div>
        <div class="members">
            <div class="row">
                <div class="col-md-4 col-lg-2">
                    <div class="member-colmn d-flex d-md-block">
                        <a routerLink="/contact-us" class="team-card wow zoomIn me-4 me-md-0">
                            <div class="img">
                                <img src="images/team/team1.jpg" alt="" class="img-cover">
                            </div>
                            <h5 class="title"> jhon <br> handerson </h5>
                        </a>
                        <a routerLink="/contact-us" class="team-card wow zoomIn" data-wow-delay="0.1s">
                            <div class="img">
                                <img src="images/team/team2.jpg" alt="" class="img-cover">
                            </div>
                            <h5 class="title"> jhon <br> handerson </h5>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-4 order-last order-lg-0">
                    <div class="member-colmn">
                        <a routerLink="/contact-us" class="team-card wow zoomIn" data-wow-delay="0.2s">
                            <div class="img">
                                <img src="images/team/team3.jpg" alt="" class="img-cover">
                            </div>
                            <h5 class="title"> jhon <br> handerson </h5>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="member-colmn d-flex d-md-block">
                        <a routerLink="/contact-us" class="team-card wow zoomIn me-4 me-md-0" data-wow-delay="0.3s">
                            <div class="img">
                                <img src="images/team/team4.jpg" alt="" class="img-cover">
                            </div>
                            <h5 class="title"> jhon <br> handerson </h5>
                        </a>
                        <a routerLink="/contact-us" class="team-card wow zoomIn" data-wow-delay="0.4s">
                            <div class="img">
                                <img src="images/team/team5.jpg" alt="" class="img-cover">
                            </div>
                            <h5 class="title"> jhon <br> handerson </h5>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="member-colmn">
                        <a routerLink="/contact-us" class="team-card wow zoomIn" data-wow-delay="0.5s">
                            <div class="img">
                                <img src="images/team/team6.jpg" alt="" class="img-cover">
                            </div>
                            <h5 class="title"> jhon <br> handerson </h5>
                        </a>
                        <!-- <a routerLink="/contact-us" class="team-card team-text wow zoomIn" data-wow-delay="0.6s">
                            <div class="img">
                                <h5 class="title"> <div class="con"> <span> See All Our <br> Member </span> <span class="arrow"> <i class="ti-arrow-top-right"></i> </span> </div> </h5>
                            </div>
                        </a> -->
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="member-colmn">
                        <a routerLink="/contact-us" class="team-card wow zoomIn" data-wow-delay="0.7s">
                            <div class="img">
                                <img src="images/team/team7.jpg" alt="" class="img-cover">
                            </div>
                            <h5 class="title"> jhon <br> handerson </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="numbers pt-0">
            <div class="row gx-5">
                <div class="col-lg-4">
                    <div class="number-card wow fadeInUp" data-wow-delay="0.2s">
                        <h3 class="perc"> 95% </h3>
                        <p class="text-white"> Happy Customer and <br> Repeating </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="number-card wow fadeInUp" data-wow-delay="0.4s">
                        <h3 class="perc"> 126 </h3>
                        <p class="text-white"> Projects Completed in <br> 15 Years </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="number-card wow fadeInUp" data-wow-delay="0.6s">
                        <h3 class="perc"> 25 </h3>
                        <p class="text-white"> Architects and <br> High Qualified Crafters </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  End team  -->