@if (languageDirection === 'ltr') {
    <!--  Start testimonials  -->
    <section class="tc-testimonials-style1 pt-100 pb-100 ltr" *transloco="let t">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h6 class="fsz-18 text-uppercase lh-4"> {{ t('what our team say') }} </h6>
                    <div class="lg-icon color-orange1"> <i class="la la-quote-right"></i> </div>
                </div>
                <div class="col-lg-8">
                    <div class="tc-clients-style1">
                        <div class="clients-slider1">
                            <div class="owl-carousel owl-testimonials owl-theme swiper-wrapper">
                                <div class="item swiper-slide">
                                    <div class="clients-card">
                                        <div class="author">
                                            <div class="au-img">
                                                <img src="images/team/team1.jpg" alt="" class="img-cover">
                                            </div>
                                            <div class="au-inf">
                                                <h6 class="text-capitalize mb-2 fsz-16 fw-bold"> Mr. Salah </h6>
                                                <p class="text-capitalize fsz-14 color-666"> {{ t('manager') }}  </p>
                                            </div>
                                        </div>
                                        <div class="text fsz-25 fw-600 lh-2">
                                            "{{ t('manager-say') }}"
                                        </div>
                                    </div>
                                </div>
                                <div class="item swiper-slide">
                                    <div class="clients-card">
                                        <div class="author">
                                            <div class="au-img">
                                                <img src="images/team/team1.jpg" alt="" class="img-cover">
                                            </div>
                                            <div class="au-inf">
                                                <h6 class="text-capitalize mb-2 fsz-16 fw-bold"> Mr. Salah </h6>
                                                <p class="text-capitalize fsz-14 color-666"> {{ t('investor') }}  </p>
                                            </div>
                                        </div>
                                        <div class="text fsz-25 fw-600 lh-2">
                                            "{{ t('investor-say') }}"
                                        </div>
                                    </div>
                                </div>
                                <div class="item swiper-slide">
                                    <div class="clients-card">
                                        <div class="author">
                                            <div class="au-img">
                                                <img src="images/team/team1.jpg" alt="" class="img-cover">
                                            </div>
                                            <div class="au-inf">
                                                <h6 class="text-capitalize mb-2 fsz-16 fw-bold"> Mr. Salah </h6>
                                                <p class="text-capitalize fsz-14 color-666"> {{ t('co-founder') }}  </p>
                                            </div>
                                        </div>
                                        <div class="text fsz-25 fw-600 lh-2">
                                            "{{ t('founder-say') }}"
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-controls">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="images/c_line3.png" alt="" class="c-line">
    </section>
    <!--  End testimonials  -->
} @else if (languageDirection === 'rtl') {
    <!--  Start testimonials  -->
    <section class="tc-testimonials-style1 pt-100 pb-100 rtl" *transloco="let t">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 order-lg-2">
                    <h6 class="fsz-18 text-uppercase lh-4"> {{ t('what our team say') }} </h6>
                    <div class="lg-icon color-orange1"> <i class="la la-quote-right"></i> </div>
                </div>
                <div class="col-lg-8">
                    <div class="tc-clients-style1">
                        <div class="clients-slider1">
                            <div class="owl-carousel owl-testimonials owl-theme swiper-wrapper">
                                <div class="item swiper-slide">
                                    <div class="clients-card">
                                        <div class="author">                                            
                                            <div class="au-inf">
                                                <h6 class="text-capitalize mb-2 fsz-16 fw-bold"> Mr. Salah </h6>
                                                <p class="text-capitalize fsz-14 color-666"> {{ t('manager') }}  </p>
                                            </div>
                                            <div class="au-img">
                                                <img src="images/team/team1.jpg" alt="" class="img-cover">
                                            </div>
                                        </div>
                                        <div class="text fsz-25 fw-600 lh-2">
                                            "{{ t('manager-say') }}"
                                        </div>
                                    </div>
                                </div>
                                <div class="item swiper-slide">
                                    <div class="clients-card">
                                        <div class="author">
                                            <div class="au-inf">
                                                <h6 class="text-capitalize mb-2 fsz-16 fw-bold"> Mr. Salah </h6>
                                                <p class="text-capitalize fsz-14 color-666"> {{ t('investor') }}  </p>
                                            </div>
                                            <div class="au-img">
                                                <img src="images/team/team1.jpg" alt="" class="img-cover">
                                            </div>
                                        </div>
                                        <div class="text fsz-25 fw-600 lh-2">
                                            "{{ t('investor-say') }}"
                                        </div>
                                    </div>
                                </div>
                                <div class="item swiper-slide">
                                    <div class="clients-card">
                                        <div class="author">
                                            <div class="au-inf">
                                                <h6 class="text-capitalize mb-2 fsz-16 fw-bold"> Mr. Salah </h6>
                                                <p class="text-capitalize fsz-14 color-666"> {{ t('co-founder') }}  </p>
                                            </div>
                                            <div class="au-img">
                                                <img src="images/team/team1.jpg" alt="" class="img-cover">
                                            </div>
                                        </div>
                                        <div class="text fsz-25 fw-600 lh-2">
                                            "{{ t('founder-say') }}"
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-controls">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <img src="images/c_line3.png" alt="" class="c-line">
    </section>
    <!--  End testimonials  -->
}